body {
    background-color: #272822;
}

.line-item {
  background-color: #272822;
  padding: 20px;
  margin: 2px;
  color: #E7DFDD;
  align-items: left;
  border: 1px #A6E22E solid;
}

a:link {
  color: #E7DFDD;
}

a:visited {
  color: #E7DFDD;
}

a:hover {
  color: rgb(88, 87, 88);
}

a:active {
  color: #E7DFDD;
}

.form-group
{
  max-width: 400px;
}

.form-group label
{
  color: white;
}

.form-group small
{
  color: white;
}

#noFriends
{
  color: green;
}