body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
}


.btn.red {
  background-color: #e74c3c;
  color: aliceblue;
}

.btn.red:hover {
  background-color: #c0392b;
}

#friend-form
{
  margin: 15px;
  margin-bottom: 30px;
}